* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Style the top navigation bar */
  .topnav {
    overflow: hidden;
    background-color: #40A2E3;
    border-bottom-style: solid;
    border-bottom-width: medium;
  }

  .topnav * {
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .topnav h1 {
    font-weight: 300;
    font-size: 50px;
    text-align: center;
    color: white;
    display: inline-block;
    padding-right: 15px;

  }
  
  /* Style the topnav buttons */
  .topnav .button {
    background-color: #0D9276;
    border: 1px #002442;
    color: white;
    padding: 10px 32px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    opacity: 0.6;
    transition: 0.3s;
    cursor: pointer;
  }

  .topnav .button:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }

  .button:hover {
    opacity: 1
  }
  
  /* Style the content */
  .content {
    background-color: #FFF6E9;
    padding: 10px;
    height: 200px; /* Should be removed. Only for demonstration */
  }
  
  /* Style the footer */
  .footer {
    background-color: #BBE2EC;
    padding: 10px;
    text-align: center;
    border-style: solid;
    border-width: medium;
  }